.feed-form{
    margin-top: 36px;
    display:flex;
    flex-direction:column;
    max-width:303px;
    input{
        height: 54px;
        border-radius: 5px;
        border:none;
        margin-bottom: 15px;
        padding-left: 21px;
        color: #4B4B4B;
        font-weight: 400;
        font-size: 14px;
    }
    & input:last-of-type{
        margin-bottom: 20px;
    }
    &_m25{
        margin-top: 25px;
    }
}